<mat-grid-list cols="2" rowHeight="2:1" gutterSize="0">
  <mat-grid-tile colspan="2" rowspan="2">
    <h1>Angular <span [gradienttext]="angularMaterial">Gradient</span></h1>
    <p>Original credit to <a href="https://stackblitz.com/@beeman">@beeman</a> of stackblitz</p>
  </mat-grid-tile>
  
  <mat-grid-tile [gradient]="backgound">
    <h1 class="background">Background</h1>
  </mat-grid-tile>

  <mat-grid-tile [gradient]="multi">
    <h1 class="background">Multi-color</h1>
  </mat-grid-tile>

  <mat-grid-tile [gradient]="rotatable">
    <h1 class="background">Rotatable</h1>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <h1 class="text"><span [gradienttext]="text">Text</span></h1>
  </mat-grid-tile>
  
  <mat-grid-tile>
    <mat-icon [gradienttext]="icon">anchor</mat-icon>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-toolbar [gradient]="toolbar">
      <span>Toolbar</span>
    </mat-toolbar>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header [gradient]="angularMaterial"></mat-card-header>
      <mat-card-content>
        <p>Cards</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>